// colors
$bg-color: #1e2026;
$logo-color: #f0b90b;

html,
body {
  width: 100%;
  height: 100%;
  background: $bg-color;
  overflow: hidden;

  * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;

    &:before,
    &:after {
      content: "";
      position: absolute;
    }
  }
}

.shape {
  &-1 {
    width: 23.1vmin;
    height: 27vmin;
    background: $logo-color;
    top: 13vmin;
    left: -22.9vmin;
    transform: skewY(30deg);
    border-radius: 0.2vmin 0 0 0;
  }

  &-2 {
    width: 23.1vmin;
    height: 27vmin;
    background: $logo-color;
    top: 13vmin;
    left: 23vmin;
    transform: skewY(-30deg);
    border-radius: 0 0.2vmin 0 0;
  }

  &-3 {
    width: 32vmin;
    height: 32vmin;
    background: $logo-color;
    top: -27vmin;
    left: 0vmin;
    transform: rotateX(53deg) rotateZ(44deg) skewX(-2deg);
    border-radius: 0 0.2vmin 0 0.2vmin;
  }
}

.line {
  &-1 {
    width: 5vmin;
    height: 25.3vmin;
    background: $bg-color;
    top: -25vmin;
    left: 14.4vmin;
    transform: rotateX(53deg) rotateZ(44deg) skewX(-2deg);

    &::before {
      width: 5vmin;
      height: 25.3vmin;
      background: $bg-color;
      top: 10.2vmin;
      left: -10.2vmin;
      transform: rotate(90deg);
    }
  }

  &-2 {
    width: 5vmin;
    height: 24.5vmin;
    background: $bg-color;
    top: -29vmin;
    left: 14vmin;
    transform: rotateX(-53deg) rotateZ(-44deg) skewX(2deg);

    &::before {
      width: 5vmin;
      height: 24.5vmin;
      background: $bg-color;
      top: -9.8vmin;
      left: -9.8vmin;
      transform: rotate(90deg);
    }
  }

  &-3 {
    width: 3.6vmin;
    height: 20.5vmin;
    background: $bg-color;
    top: -0.5vmin;
    left: 31.6vmin;

    &::before {
      width: 3.6vmin;
      height: 20.5vmin;
      background: $bg-color;
      left: -31.7vmin;
    }
  }

  &-4 {
    width: 3.6vmin;
    height: 22vmin;
    background: $bg-color;
    top: -2vmin;
    left: 31vmin;
    transform: rotate(60deg);
    border-radius: 0 0 0 0.3vmin;

    &::before {
      width: 3.6vmin;
      height: 22vmin;
      background: $bg-color;
      top: 26.9vmin;
      left: -15.5vmin;
      transform: rotate(-120deg);
      border-radius: 0 0 0.3vmin 0;
    }
  }

  &-5 {
    width: 3.6vmin;
    height: 21.5vmin;
    background: $bg-color;
    top: 27.4vmin;
    left: 13.9vmin;

    &::before {
      width: 3.6vmin;
      height: 21.5vmin;
      background: $bg-color;
      left: -14vmin;
    }
  }

  &-6 {
    width: 5vmin;
    height: 24vmin;
    background: $bg-color;
    top: 27.7vmin;
    left: 14.8vmin;
    transform: rotateX(53deg) rotateZ(44deg) skewX(-2deg) skewY(8deg);

    &::before {
      width: 5vmin;
      height: 25vmin;
      background: $bg-color;
      top: 11.2vmin;
      left: -9.8vmin;
      transform: rotate(82deg) skewY(6deg);
    }
  }
}
